<h1>Listing incentivos</h1>

<table>
  <thead>
    <tr>
      <th>Integer</th>
      <th>Integer</th>
      <th>Decimal</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @incentivos.each do |incentivo| %>
      <tr>
        <td><%= incentivo.integer %></td>
        <td><%= incentivo.integer %></td>
        <td><%= incentivo.decimal %></td>
        <td><%= link_to 'Show', incentivo %></td>
        <td><%= link_to 'Edit', edit_incentivo_path(incentivo) %></td>
        <td><%= link_to 'Destroy', incentivo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Incentivo', new_incentivo_path %>
