<p id="notice"><%= notice %></p>

<p>
  <strong>Integer:</strong>
  <%= @incentivo.integer %>
</p>

<p>
  <strong>Integer:</strong>
  <%= @incentivo.integer %>
</p>

<p>
  <strong>Decimal:</strong>
  <%= @incentivo.decimal %>
</p>

<%= link_to 'Edit', edit_incentivo_path(@incentivo) %> |
<%= link_to 'Back', incentivos_path %>
