- content_for :filtro do
  = render :partial => 'filtros/projetos'

.card.borda.status
  = @topo

= render :partial => 'list'
!= pagy_bootstrap_nav(@pagy)

#subfiltros
  - unless params[:area_id]
    #areas.card.borda.mb-3
      .card-body.p-3
        .d-flex.align-items-center.mb-2
          %i.bi.bi-tags-fill.me-2
          %span.small.text-muted Areas
        %hr.small.mt-0
        - @areas.each do |a|
          - area = a[0]
          - count = a[1]
          %p.selectable.rounded.px-2.py-1.mb-1{type: 'area', type_id: area.id, style: 'cursor:pointer;'}
            %span.rotulo= area.nome
            - if count > 0
              %span.badge.bg-info.rounded-pill.float-end= count
            - else
              %span.badge.bg-danger.rounded-pill.float-end= count

  - unless params[:estado_id]
    #estados.card.borda.mb-3
      .card-body.p-3
        .d-flex.align-items-center.mb-2
          %i.bi.bi-globe.me-2
          %span.small.text-muted Estados
        %hr.small.mt-0
        - @estados.each do |e|
          - estado = e[0]
          - count = e[1]
          %p.selectable.rounded.px-2.py-1.mb-1{type: 'estado', type_id: estado.id, style: 'cursor:pointer;'}
            %span.rotulo= estado.nome
            - if count > 0
              %span.badge.bg-info.rounded-pill.float-end= count
            - else
              %span.badge.bg-danger.rounded-pill.float-end= count
