%html{:lang => "pt-br", "xml:lang" => "pt-br", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %title Mostre!me
    = stylesheet_link_tag "http://fonts.googleapis.com/css?family=Gudea"
    = favicon_link_tag 'favicon.ico'
    %meta{:content => "text/html;charset=UTF-8", "http-equiv" => "content-type"}
    :css
      * {margin: 0px}
      body {padding:20px; width:800px; margin:0px auto; background-color: #fff; font-family: 'Gudea', sans-serif; background:url('http://mostre.me/assets/texture-noise-2e4e34d06b2e16b8e733f4004df39dfe.png')}
      h1 {text-align: center; font-size:52px; font-family:'Myriad Pro',Helvetica,Arial,sans-serif; color: #363531;}
      h2 {text-align: center; font-size:22px;}
      h3 {padding-bottom:5px}
      .fundo {color:white; width: 100%; background-color:#363531; padding:3px}
      .rodape { text-align: center; font-size: 13px}
      .box {line-height: 23px; margin: 20px; padding: 15px; padding-bottom:20px; background-color: #f9f9f9; font-size: 15px; box-shadow: 6px 6px 15px #ccc; border: 1px solid #ccc}
      .rodape>span>a {color: white}
      a {color:rgb(58, 135, 173)}
  %body

    %h1 Mostre!me
    %h2.fundo Incubadora de Ferramentas Sociais

    #meiuca{style: 'text-align: justify'}
      = yield

      .box
        %h3= link_to "Cultura", "/cultura"
        %p
          %span Desde 2010 automaticamente minerando os dados do Ministério da Cultura referentes aos Projetos, Patrocinadores e Proponentes da última década do precário SalicNet, Mostre!me Cultura permite a navegação dessas relevantes informações Públicas através de consultas iterativas e visualizações efetivas.
          %span= "Atualmente mapeia #{reais Incentivo.sum(:valor)} distribuídos entre #{Projeto.aprovados.count} projetos aprovados desde o ano 2000."

      / .box
      /   %h3= link_to "Educação", "/educacao"
      /   %p
      /     %span Mostre!me Educação é iniciado em 2015 o mapeamento dos dados do obsoleto eMec para melhor representar e evidenciar as principais Entidades e Cursos do complexo Sistema Nacional de Educação Pública e Privada.
      /     //%span= "Atualmente mapeia #{reais Incentivo.sum(:valor)} distribuídos entre #{Projeto.aprovados.count} projetos aprovados desde 2000."

      .box
        %h3= link_to "Links", "/links"
        %p
          %span Desde 2009 online, o primeiro projeto em Mostre!me utiliza conceitos básicos de nosso cotidiano HTTP - o Protocolo de Transferência de Hipertexto - para permitir criar URLs que registram todo "onde" e "quando" elas foram clicadas, sem guardar dados dos visitantes.
          %span= "Há #{Link.count} links criados em Mostre!me, clicados #{Click.count} vezes pela Web."

    .rodape.fundo
      %span Copyleft
      %span= link_to "ExtraPolo!", "http://extrapolo.com/", target:"_blank"
      %span desde 2008
