<h1>Listing clicks</h1>

<table>
  <tr>
    <th>Quando</th>
    <th>Url</th>
  </tr>

<% @clicks.each do |click| %>
  <tr>
    <td><%=h click.created_at %></td>
    <td><%=h click.de %></td>
    <td><%= link_to 'Show', click %></td>
    <td><%= link_to 'Destroy', click, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to "http://localhost:3000/arrozao3", "http://localhost:3000/arrozao3" %>