:javascript
	function urlify(s) {
		s = s.toLowerCase();             // convert to lowercase
		s = s.replace(/[찼횪찾창채]/g, 'a')   // remove 'a' acentuado
		s = s.replace(/[챕챔챗챘]/g, 'e')    // remove 'e' acentuado
		s = s.replace(/[챠챙챤챦]/g, 'i')    // remove 'i' acentuado
		s = s.replace(/[처챵천척철]/g, 'o')   // remove 'o' acentuado
		s = s.replace(/[첬첫청체]/g, 'u')    // remove 'u' acentuado
		s = s.replace(/[챌]/g, 'c')       // remove 'c' cedilha
		s = s.replace(/[챰]/g, 'n')       // remove 'n' acentuado
		s = s.replace(/[^-\w\s]/g, '');  // remove unneeded chars
		s = s.replace(/^\s+|\s+$/g, ''); // trim leading/trailing spaces
		s = s.replace(/[-\s]+/g, '-');   // convert spaces to hyphens
		return "http://mostre.me/"+(s);
	}

	document.addEventListener('DOMContentLoaded', function(){
		var titulo = document.getElementById('link_titulo');
		if (titulo) {
			titulo.focus();
			titulo.addEventListener('keyup', function(){
				var urlized = urlify(this.value);
				document.getElementById('out').textContent = urlized;
			})
			titulo.dispatchEvent(new Event('keyup'));
		}
	})

%h3 Criar Link

= form_for @link, :url => { :action => "create" } do |f|
	- if @link.errors.any?
		#errorExplanation
			Opz!
			- @link.errors.full_messages.each do |msg|
				%li= msg

	T챠tulo:
	%br/
	= f.text_field('titulo', {maxlength: 35, class: "text"})
	%br/
	%br/
	Redirecionar para:
	%br/
	= f.text_field(:para, :class=>"text", :value=>'http://')

	%p#out.out

	%div{align: "right"}
		= f.submit("Criar", {style: "height: 30px; font-size:25px; margin-top: 10px"})
