%p
  %b= @link.titulo
  %br/
  criado em #{@link.created_at.strftime("%d/%m/%Y %I:%M%p")}

  %p= " => http://mostre.me/#{@link.atalho}"

%p
  %b Para
  %span
    = link_to @link.para, @link.para

- clicks = @link.clicks
- if @link.clicks_domains.count>0
  %p
    %b= "Referenciado #{clicks.count} vezes em"
    - @link.clicks_domains.each do |domain, count|
      %br/
      %span= "+ #{count} -> #{domain}"
    %br/
  %br/

  %hr
  %br
  %b= "Histórico"
  - clicks.each do |c|
    %p
      %span= c.created_at.strftime("%d/%m/%Y %I:%M%p")
      %span ->
      %span= link_to(c.url, c.url)


