- content_for :menu do
	= link_to "[ Criar Novo! ]", "/links"

%h3 Últimos Links
- @last_links.each do |l|
	%p
		%span= link_to_mostre l, info=true
		%span= ago(l.created_at)

%br
%br
%hr

%h3 Últimos Clicks
- @last_clicks.each do |c|
	%p
		%span= link_to_mostre c.link, info=true
		%span= "em "
		%span= link_to c.url, c.url

%br
%hr

%h3 Top Links
- @tops.each do |t|
	%p= link_to_mostre t, info=true
	%span{style:"padding-top:2px"}
		= "#{t.clicks_count} clicks desde #{ago t.created_at}"
%br
