.well{style: 'font-size: 16px; line-height: 19px; margin: auto; padding: 45px 80px 25px 80px; max-width: 1200px; text-align: justify'}
  .center
    %p.x1 Mostre!me Educação
    %p.x2 Sistema Experimental em Educação e Cultura

  %br
  %p
    %span Mostre!me Educação estrutura os dados do
    %span
      %a{href: "https://emec.mec.gov.br/emec/nova"} eMec
    %span - Sistema de Regulação do Ensino Superior - para melhor representar e evidenciar as
    %span
      %a{href: "/educacao/mantenedoras"}= "#{pontua_numero Mantenedora.count} Entidades"
    %span que mantêm as
    %span
      %a{href: '/educacao/instituicoes'}= "#{pontua_numero Instituicao.count} Instituições"
    %span de Ensino Superior do país com seus
    %span
      %a{href: "/educacao/cursos"}= "#{pontua_numero Curso.count} Cursos"
    %span no valioso Sistema de Educação Pública e Privada do Brasil.

  %br
  contato@mostre.me
  %br
  Fevereiro de 2015

.carousel-caption
  %p subversão v0.1
