= javascript_include_tag "filtros"

%form{action: "/cultura/projetos/", method: "get"}
  .mb-3
    %label.form-label.small.text-muted Nome contém
    = text_field_tag :nome, params[:nome], class: "form-control form-control-sm"

  .mb-3
    %label.form-label.small.text-muted Síntese contém
    = text_field_tag :sintese, params[:sintese], class: "form-control form-control-sm"

  .mb-3
    %label.form-label.small.text-muted Providência contém
    = text_field_tag :providencia, params[:providencia], class: "form-control form-control-sm"

  %hr.small

  .form-check.mb-2
    = check_box_tag :liberados, 1, false, class: "form-check-input", id: "liberados"
    %label.form-check-label.small{:for => "liberados"} Somente Liberados

  .form-check.mb-2
    = check_box_tag :apoiado_maior_zero, 1, false, class: "form-check-input", id: "apoiado_maior_zero"
    %label.form-check-label.small{:for => "apoiado_maior_zero"} Apoiado > 0

  .form-check.mb-2
    = check_box_tag :apoiado_maior_aprovado, 1, false, class: "form-check-input", id: "apoiado_maior_aprovado"
    %label.form-check-label.small{:for => "apoiado_maior_aprovado"} Apoiado > Aprovado

  .form-check.mb-2
    = check_box_tag :recurso_tesouro, 1, false, class: "form-check-input", id: "recurso_tesouro"
    %label.form-check-label.small{:for => "recurso_tesouro"} Recurso do Tesouro

  .form-check.mb-2
    = check_box_tag :fnc, 1, false, class: "form-check-input", id: "fnc"
    %label.form-check-label.small{:for => "fnc"} Fundo Nacional de Cultura

  .form-check.mb-2
    = check_box_tag :apoiadores_maior_20, 1, false, class: "form-check-input", id: "apoiadores_maior_20"
    %label.form-check-label.small{:for => "apoiadores_maior_20"} Apoiadores > 20

  %hr.small

  #subsub
    - if @estado
      %p.selectable{type: "estado", type_id: @estado.id, filtering: 1}
        %span.rotulo= @estado.nome
        %span.badge.badge-right X

    - if @area
      %p.selectable{type: "area", type_id: @area.id, filtering: 1}
        %span.rotulo= @area.nome
        %span.badge.badge-right X
