= form_for @entidade do |f|
  - if @entidade.errors.any?
    #error_explanation
      %h2= "#{pluralize(@entidade.errors.count, "error")} prohibited this entidade from being saved:"
      %ul
        - @entidade.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :nome
    = f.text_field :nome
  .field
    = f.label :cnpjcpf
    = f.text_field :cnpjcpf
  .field
    = f.label :responsavel
    = f.text_field :responsavel
  .field
    = f.label :logradouro
    = f.text_field :logradouro
  .field
    = f.label :cidade
    = f.text_field :cidade
  .field
    = f.label :cep
    = f.text_field :cep
  .field
    = f.label :uf
    = f.text_field :uf
  .field
    = f.label :email
    = f.text_field :email
  .field
    = f.label :tel_res
    = f.text_field :tel_res
  .field
    = f.label :tel_cel
    = f.text_field :tel_cel
  .field
    = f.label :tel_fax
    = f.text_field :tel_fax
  .field
    = f.label :tel_com
    = f.text_field :tel_com
  .actions
    = f.submit 'Save'
