%h1 Listing entidades

%table
  %tr
    %th Nome
    %th Cnpjcpf
    %th Responsavel
    %th Logradouro
    %th Cidade
    %th Cep
    %th Uf
    %th Email
    %th Tel res
    %th Tel cel
    %th Tel fax
    %th Tel com
    %th
    %th
    %th

  - @entidades.each do |entidade|
    %tr
      %td= entidade.nome
      %td= entidade.cnpjcpf
      %td= entidade.responsavel
      %td= entidade.logradouro
      %td= entidade.cidade
      %td= entidade.cep
      %td= entidade.uf
      %td= entidade.email
      %td= entidade.tel_res
      %td= entidade.tel_cel
      %td= entidade.tel_fax
      %td= entidade.tel_com
      %td= link_to 'Show', entidade
      %td= link_to 'Edit', edit_entidade_path(entidade)
      %td= link_to 'Destroy', entidade, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Entidade', new_entidade_path
