- @patrocinadores ||= @entidades

- content_for :filtro do
  = render :partial => 'filtros/entidades'

.card.borda.status
  = @topo

= render 'entidades/patrocinadores_list'
= pagy_bootstrap_nav(@pagy)

#subfiltros  
  / - unless params[:area_id]
  /   #areas
  /     .card.borda
  /       %i.bi.bi-tags-fill
  /       Areas
  /       %hr.small
        
  /       - @areas.each do |a|
  /         - area = a[0]
  /         - count = a[1]
  /         %p.selectable{type: 'area', type_id: area.id}
  /           %span.rotulo= area.nome
  /           - if count > 0
  /             %span.badge.bg-info= count
  /           - else
  /             %span.badge.bg-danger= count

  - unless params[:estado_id]
    #estados
      .card.borda
        %i.bi.bi-globe
        Estados
        %hr.small
        - @estados.each do |e|
          - estado = e[0]
          - count = e[1]
          %p.selectable{type: 'estado', type_id: estado.id}
            %span.rotulo= estado.nome        
            - if count > 0
              %span.badge.bg-info= count
            - else
              %span.badge.bg-danger= count