- @proponentes ||= @entidades

- content_for :filtro do
  = render :partial => 'filtros/entidades'

.well.borda.status
  = @topo

%table.table.table-striped.table-bordered.table-condensed.borda
  %thead
    %tr
      %th{style: 'width: 420px'} Proponente
      %th Estado
      %th#projetos_count.reorder Projetos
      %th#projetos_liberados.reorder Aprovados
      %th#projetos_sum.reorder Captado
    
  %tbody
    - @proponentes.each do |proponente|
      %tr        
        - nome = hl(params[:nome], proponente.nome) if params[:nome]
        %td= link_to (nome || proponente.nome), entidade_path(proponente)
        %td= proponente.estado.sigla
        %td
          %span.badge.badge-info
            = proponente.projetos_count
        %td
          - if proponente.projetos_liberados && proponente.projetos_liberados > 0
            %span.badge.badge-success
              = proponente.projetos_liberados
          - else
            %span.badge.badge-important 0 
            
        %td
          - if proponente.projetos_sum == 0
            %span.badge.badge-important
              %i.icon-ban-circle
          - else
            = reais proponente.projetos_sum

        
= pagination @proponentes


#subfiltros  
  / - unless params[:area_id]
  /   #areas
  /     .well.borda
  /       %i.icon-tags
  /       Areas
  /       %hr.small
        
  /       - @areas.each do |a|
  /         - area = a[0]
  /         - count = a[1]
  /         %p.selectable{type: 'area', type_id: area.id}
  /           %span.rotulo= area.nome
  /           - if count > 0
  /             %span.badge.badge-right.badge-info= count
  /           - else
  /             %span.badge.badge-right.badge-important= count

  - unless params[:estado_id]
    #estados
      .well.borda
        %i.icon-globe
        Estados
        %hr.small
        - @estados.each do |e|
          - estado = e[0]
          - count = e[1]
          %p.selectable{type: 'estado', type_id: estado.id}
            %span.rotulo= estado.nome        
            - if count > 0
              %span.badge.badge-right.badge-info= count
            - else
              %span.badge.badge-right.badge-important= count