

= javascript_include_tag "d3/d3.v3.min.js"
= javascript_include_tag "grafo"

:css
	path.link {
	  fill: none;
	  stroke: #666;
	  stroke-width: 1px;
	  opacity: 0.4
	}

	circle {
	  fill: #ccc;
	  stroke: gray;
	  stroke-width: 1.5px;
	}

	.proponente{ fill: #9c6 }
	.financiador{ fill: #f89406 }
	.projeto{ fill: #3a87ad	}

	text {
	  fill: #000;
	  font: 10px sans-serif;
	  pointer-events: none;
	  text-shadow: 1px 1px 10px gray;
	}


:coffee
	$(document).ready ->
		# todo: implementar ordem em lista!
		$('th').removeClass('reorder')

		# get graph data
		eval '#{@js}'
		# remontar on window.resize?
		monta(graph, $('.grafo').width())

.well.status
	.titulo
		- if @entidade.empresa
			%i.icon-briefcase.afastado
		- else
			%i.icon-user.afastado
		= @entidade.nome

#entidade{uid: @entidade.id}

	- # Grafo
	- if @entidade.projetos_liberados>0 # && @entidade.projetos_liberados<100
		.well
			%h4 Grafo de Incentivos
			.grafo

	- # Labels
	.center{style: "padding-bottom:10px"}
		.label.label-inverse
			%a{href: cidade_path(@entidade.cidade), style: 'color: white' }
				= "#{@entidade.cidade.nome} - #{@entidade.cidade.estado.sigla}"

		.label= "#{@entidade.projetos_count} projetos"
		- if @entidade.projetos_liberados > 0
			.label.label-info= "#{@entidade.projetos_liberados} aprovados"
		- else
			.label.label-important= "nenhum aprovado"

		- if @financiadores_count > 0
			.label.label-warning= "#{@financiadores_count} financiadores"

		- if @entidade.projetos_sum > 0
			.label.label-success= "#{reais @entidade.projetos_sum} captados"

		- if @entidade.incentivos_count > 0
			.label.label-info= "#{@entidade.incentivos_count} incentivos"

		- if @entidade.incentivos_sum > 0
			.label.label-success= "Incentivou #{reais @entidade.incentivos_sum}"

	- # Projetos
	- if @entidade.projetos_count > 0
		= render 'projetos/list', projetos: @entidade.projetos.ordenado

	- # Incentivos
	- if @entidade.incentivos_count > 0
		%table.table.table-striped.table-bordered.table-condensed.borda
			%thead
				%tr
					%th{style: 'width: 420px'} Incentivou
					%th Segmento
					%th Valor
					%th Último recibo

			%tbody
				- @entidade.incentivos.sort_by{:valor}.each do |incentivo|
					%tr
						%td= link_to_projeto incentivo.projeto
						%td= incentivo.projeto.segmento.nome
						%td= reais incentivo.valor
						%td
							%span.badge.badge-success
								= to_date incentivo.last_recibo_at

	- # Similares
	- similares = @entidade.similares
	- if similares.size > 0
		.well.borda.status= "Similares (#{similares.size})"
		- @entidades = @entidade.similares
		= render 'entidades/list'