:javascript
  $(document).ready(function(){
    $('th').removeClass('reorder')
  })

.card.status.borda
  .titulo
    %i.bi.bi-person-fill.afastado
    = "#{@candidato.nome} - #{@candidato.partido}"

.center{style: "padding-bottom:10px"}
  .label.label-error= @candidato.cargo
  .badge.bg-warning= @candidato.ano
  .badge.bg-info= "#{@candidato.doacoes_count} doações"
  .badge.bg-warning= "#{@candidato.doadores.uniq.count} doadores"
  .badge.bg-success= "Recebeu #{reais @candidato.valor_total}"
  -# .badge.bg-danger= "Sem aprovação"

-# .card.status
-#   = @resumo
-#
-# .alert.alert-info.borda
-#   %button.close{"data-bs-dismiss" => "alert", type: "button"} ×
-#   %i.icon-pencil
-#   = @candidato.sintese
-#
-# #infos.borda{style:"margin-top:8px"}
-#   - if @candidato.liberado_at
-#     .alert.alert-success
-#       %button.close{"data-bs-dismiss" => "alert", type: "button"} ×
-#       %i.bi.bi-check-circle-fill
-#       = "Liberado em #{@candidato.liberado_at}"

-# .alert.borda
-#   %button.close{"data-bs-dismiss" => "alert", type: "button"} ×
-#   %i.icon-exclamation-sign
-#   %strong= @candidato.situacao_at
-#   - enquadramento = "» #{@candidato.enquadramento}" if @candidato.enquadramento
-#   = " #{enquadramento} » #{@candidato.situacao} » #{@candidato.providencia}"


- if @candidato.doacoes_count > 0
  %table.table.table-striped.borda
    %thead
      %tr
        %th
        %th{style:'text-align:left'} Doador
        %th Motivo
        %th Data
        %th Valor
    %tbody
      - @candidato.doacoes.each do |doacao|
        %tr
          %td
            -# todo: diferenciar icone comite, pessoa, empresa
            -# - if doador = doacao.doador || doacao.candidato
            -#   - if doador.is_empresa
            %i.bi.bi-briefcase-fill
            -# - else
            -#   %i.icon-user
          %td{style:'text-align:left'}= link_to_doador doacao.doador if doacao.doador
          %td= doacao.motivo
          %td= doacao.quando
          %td= reais doacao.valor
