:javascript
  $(document).ready(function(){
    $('th').removeClass('reorder')
  })

.well.status.borda
  .titulo
    %i.icon-person.afastado
    = "#{@doador.doador}"

.center{style: "padding-bottom:10px"}
  .label= "#{@doador.doacoes_count} doações"
  .label.label-success= "Investiu #{reais @doador.valor_total}"
  -# .label.label-important= "Sem aprovação"

-# .well.status
-#   = @resumo
-#
-# .alert.alert-info.borda
-#   %button.close{"data-dismiss" => "alert", type: "button"} ×
-#   %i.icon-pencil
-#   = @doador.sintese
-#
-# #infos.borda{style:"margin-top:8px"}
-#   - if @doador.liberado_at
-#     .alert.alert-success
-#       %button.close{"data-dismiss" => "alert", type: "button"} ×
-#       %i.icon-ok
-#       = "Liberado em #{@doador.liberado_at}"

-# .alert.borda
-#   %button.close{"data-dismiss" => "alert", type: "button"} ×
-#   %i.icon-exclamation-sign
-#   %strong= @doador.situacao_at
-#   - enquadramento = "» #{@doador.enquadramento}" if @doador.enquadramento
-#   = " #{enquadramento} » #{@doador.situacao} » #{@doador.providencia}"


- if @doador.doacoes_count > 0
  %table.table.table-striped.borda
    %thead
      %tr
        %th{style:'text-align:left'} Candidato
        %th Data
        %th Valor
    %tbody
      - @doador.doacoes.each do |doacao|
        %tr
          %td{style:'text-align:left'}= doacao.candidato ? link_to_candidato(doacao.candidato) : "#{doacao.comite.nome} - #{doacao.partido}"
          %td= doacao.quando
          %td= reais doacao.valor
