!!!
%html
	%head		
		- if @title
			%title= "Mostre!me - #{@title}"
		- else
			%title Mostre!me 
		%meta{charset: 'utf-8'}
		= stylesheet_link_tag "app", media: "all"
		= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Gudea"
		= javascript_include_tag "app"	
		= javascript_include_tag "analytics" if Rails.env.production?
		= favicon_link_tag 'm-favicon.ico'
		= yield :libs
		= csrf_meta_tags
	
	%body
		#todo
			#lado
				.logo.well.borda{:href => "/cultura"} 
					Mostre!me
		
				#menu.borda			
					%ul.nav.nav-tabs.nav-stacked
						%li
							%a{:href => "/cultura"}
								%i.icon-home
								Início
								%i.icon-chevron-right.seta-right					
						%li
							%a{:href => "/cultura/projetos"}
								%i.icon-th
								Projetos
								%i.icon-chevron-right.seta-right
						%li				
							%a{:href => "/cultura/proponentes"}
								%i.icon-briefcase
								Proponentes
								%i.icon-chevron-right.seta-right
						%li				
							%a{:href => "/cultura/patrocinadores"}
								%i.icon-thumbs-up
								Patrocinadores
								%i.icon-chevron-right.seta-right
						/ %li				
						/ 	%a{:href => "/cultura/patrocinadores"}
						/ 		%i.icon-eye-open
						/ 		Análises
						/ 		%i.icon-chevron-right.seta-right
						/ %li				
						/ 	%a{:href => "/cultura/patrocinadores"}
						/ 		%i.icon-globe
						/ 		Mapa
						/ 		%i.icon-chevron-right.seta-right
								 

				- if content_for? :filtro
					#filtros.well.borda
						%i.icon-zoom-in
						%span{:style=>'padding-left: 2px'} Mostrar
						%span.loading
							= image_tag asset_path 'load.gif'
						%hr.small
						= yield :filtro

					#filtro_estados
				= yield :dados					

			#meio
				= yield

		#rodape
			%p Mostre!me Cultura | Copyfight 2014