!!!
%html
	%head
		- if @title
			%title= "Mostre!me - #{@title}"
		- else
			%title Mostre!me Cultura
		%meta{charset: 'utf-8'}
		%meta{:property=>"og:description", :content=>"Mostre!me mapeia e integra os dados do Sistema de apoio às leis de incentivo à Cultura do Brasil, propondo modernas formas de interação e visualização dessas relevantes informações nacionais."}
		%meta{:property=>"og:image", :content=>"http://mostre.me" + asset_path('mapa.png')}
		= stylesheet_link_tag "app", media: "all"
		= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Gudea"
		= javascript_include_tag "app"
		= javascript_include_tag "analytics" if Rails.env.production?
		= favicon_link_tag 'favicon.ico'
		= yield :libs
		= csrf_meta_tags

	%body
		#todo
			#lado
				.logo.well.borda{:href => "/cultura"}
					Cultura

				#menu.borda
					%ul.nav.nav-tabs.nav-stacked
						%li
							%a{:href => "/cultura"}
								%i.icon-home
								Início
								%i.icon-chevron-right.seta-right
						%li
							%a{:href => "/cultura/projetos"}
								%i.icon-th
								Projetos
								%i.icon-chevron-right.seta-right
						%li
							%a{:href => "/cultura/proponentes"}
								%i.icon-briefcase
								Proponentes
								%i.icon-chevron-right.seta-right
						%li
							%a{:href => "/cultura/patrocinadores"}
								%i.icon-thumbs-up
								Patrocinadores
								%i.icon-chevron-right.seta-right
						/ %li
						/ 	%a{:href => "/cultura/patrocinadores"}
						/ 		%i.icon-eye-open
						/ 		Análises
						/ 		%i.icon-chevron-right.seta-right
						/ %li
						/ 	%a{:href => "/cultura/patrocinadores"}
						/ 		%i.icon-globe
						/ 		Mapa
						/ 		%i.icon-chevron-right.seta-right


				- if content_for? :filtro
					#filtros.well.borda
						%i.icon-zoom-in
						%span{:style=>'padding-left: 2px'} Mostrar
						%span.loading
							= image_tag asset_path 'load.gif'
						%hr.small
						= yield :filtro
					#filtro_estados
				- else
					- if request.fullpath != "/cultura"
						#ad{style:"height:400px; width:200px"}
							= render :partial => 'shared/adsense'

				= yield :dados

				- if request.fullpath == "/cultura"
					.well
						%p{style: "text-align: center"} Compartilhe nas Redes
						.social
							%iframe{allowtransparency: "true", frameborder: "0", scrolling: "no", src: "//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fmostre.me%2Fcultura&width&layout=button_count&action=like&show_faces=false&share=true", style: "border:none; overflow:hidden; height:25px; width: 135px"}
						.social
							%iframe#twitter-widget-0.twitter-share-button.twitter-tweet-button.twitter-share-button.twitter-count-horizontal{allowtransparency: "true", "data-twttr-rendered" => "true", frameborder: "0", scrolling: "no", src: "https://platform.twitter.com/widgets/tweet_button.1404859412.html#_=1405261013250&count=horizontal&id=twitter-widget-0&lang=en&url=http%3A%2F%2Fmostre.me%2Fcultura", style: "width: 107px; height: 20px;", title: "Tweet!"}

					/ .well{style: 'text-align: center'}
					/ 	%p{style:"margin:0px"} Desenvolvimento Web
					/ 	%a{target: '_blank', href: 'http://extrapolo.com'}
					/ 		= image_tag(asset_path('polo.png'), style:'width: 115px')

					/ .well
					/ 	%p{style: 'text-align: center'} Patrocinadores
					/ 	%a{target: '_blank', href: 'http://www.marinapolo.com/'}
					/ 		%img{src: 'http://cdn3.kawek.com.br/usuario/51f9535d74328116.jpg', style: 'width: 45px; padding-right: 10px; float:left'}
					/ 		.lados{style: 'font-size: 12px'}
					/ 			%p{style: 'margin: 0px'} Marina Polo
					/ 			%p{style: 'margin: 0px'} R$500,00
					/ 	%hr{style: 'margin: 10px'}
					/ 	#mais{style: 'text-align: center'}
					/ 		%a{target: '_blank', href: '/patrocinar'} [ Patrocinar ]

			#meio
				= yield

		#rodape
			%p Mostre!me Cultura | Copyfight 2015
