%html{:lang => "pt-br", "xml:lang" => "pt-br", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %title Mostre!me Links
    %meta{:content => "text/html;charset=UTF-8", "http-equiv" => "content-type"}
    %link{:href => '/assets/favicon.ico', :rel => "shortcut icon", :type => "image/x-icon"}
    = stylesheet_link_tag 'old'
    = javascript_include_tag 'jquery'

  %body

    %h1= link_to "Mostre!me", "/links"
    .menu
      = link_to "Estatísticas dos Links", "/links/stats" unless request.fullpath == "/links/stats"

    - if flash[:notice]
      %p#status.redondo
        = flash[:notice]

    #meiuca
      = yield

    .rodape
      Mostre!me Copyleft
